:root {
  --background-image1: url("./main/VoyagerCover.jpg");
  --background-image2: url("./elements/outline.jpg");
  --background-image3: url("./elements/");
}

body {
    background: black;
 
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  opacity: 0.9;
  background-color: #000000;
  border-bottom: solid;
  border-color: rgb(255, 255, 255);
  
}

#menu-box {
  float: left;
  height: 40px;
  display: flex;
}

.title {
  background-color: rgb(255, 255, 255);
  font-family: 'Jura', sans-serif;;
  font-size: 20px;
  margin: 8px 22.5px 8px 22.5px;
 
}

#title {
  text-decoration: none; 
  width: 120px;
  height: 24px;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  
}

.menu {
  text-decoration: none; 
  color:rgb(255, 255, 255);
  font-size: 20px;
  font-family: 'Jura', sans-serif;
  
}

.menu-text {
  margin: 6px 22.5px 8px 22.5px;
  height: 24px;
}

.menu:hover {
  animation-name: menu-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  
}

@keyframes menu-color {
  100% {
    color: rgb(255, 205, 79);
  }
} 

.title:hover {
  animation-name: title-background;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

#title:hover {
  animation-name: title-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes title-background {
  100% {
    background-color: black;
  }
} 

@keyframes title-color {
  100% {
    color: rgb(255, 255, 255);
  }
} 


.sections {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row; 
  font-family: 'Jura', sans-serif;
  
}

#about-outline, #about-me, #about-tilos {
  justify-content: space-between;
}

#title-1, #title-2, #title-3 {
  color: white;

}

.paragraphs {
  color: white;
}


.columns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  
}

#column-1, #column-4, #column-5  {
  width: 55vh;
}

#hiddencolumn-1, #hiddencolumn-2, #hiddencolumn-3 {
  width: 0;

}

#pic-1, #pic-2, #pic-3 {
  height: 100vh;
  margin: 0%;
  
}

@media screen and (max-width: 1450px){
  #pic-1, #pic-2, #pic-3 {
    display: none;
  }
}

.linkbox {
  display: flex;
  flex-wrap: nowrap;
  width: 40vh;
  justify-content: space-evenly;
}

.links {
  color: rgb(82, 79, 255);
  text-decoration: none;
  
}

.links:hover {
  animation-name: link-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  
}

@keyframes link-color {
  100% {
    color: rgb(255, 205, 79);
  }
} 




